<html>
<head>
    <style>
        .odd-index {background-color: #5eb5e0;}
    </style>
</head>
<body>
<h2>{{ 'Listado de asignaturas'|trans }}</h2>
<h2>{{ "now"|date('d/m/Y H:i', timezone="Europe/Madrid") }}</h2>
{% if subjects|length == 0 %}
    <h2>{{ 'No hay asignaturas en este plan'|trans }}</h2>
{% else %}
    <table>
        <tr>
            <th>{{ 'codigo'|trans }}</th>
            <th>{{ 'nombre'|trans }}</th>
            <th>{{ 'ects'|trans }}</th>
        </tr>
        {% for subject in subjects %}
            {% if loop.index0 % 2 == 0 %}
                <tr class="even-index">
            {% else %}
                <tr class="odd-index">
            {% endif %}
            <td>{{ subject.codigo }}</td>
            <td>{{ (locale == 'es') ? subject.nombre : subject.nombreIngles}}</td>
            <td>{{ subject.credects }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

</body>
</html>